@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,400&display=swap');


:root{
    --backround1: #242526;
    --icon-use: #2374e1;
    --icon-not-use: #b0b3b8;
    --hover-color: rgb(104, 104, 104);
    --backroud2:#18191a;
    --name-color:#e4e6eb;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav{
    background-color: var(--backround1);
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    width: 40px;
    color: aliceblue;
}
.logo div .baricon{
    border: none;
    font-size: 10px;
    border-radius: 40px;
    padding: 8px;
    width: 200px;
    height: 40px;
    background-color: #3a3b3c;
    margin-left: 5px;
}
.logo div{
    display: flex;
    align-items: center;
}
.logo div img{
    width: 15px;
    height: 15px;
}
.logo div p{
    margin-left: 5px;
    font-size: 15px;
    color: #b0b3b8;
    align-items: center;
} 

.menu,
.account{
    display: flex;
}

.menu .x1lliihq{
    margin: 13px 35px;
    color: var(--icon-not-use);
}
.menu #ic-use{
    border-bottom: 4px solid var(--icon-use);
}
.menu #use{
    color: var(--icon-use);
}

.account div svg{
    margin: 0px 7px;
    width: auto;
    height: auto;
    padding: 9px;
    border-radius: 50%;
    background-color: #3a3b3c;
    color: #E4E6EB;
}

.account div img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.menu .hover:hover{
    background-color: var(--hover-color);
    border-radius: 7px;
    margin-top: 5px;
    height: 50px;
}

.account div svg:hover{
    background-color: var(--hover-color);
}

/*main*/

main{
    display: flex;
    margin-top: 60px;
}

main .left{
    width: 25%;
    height: 94vh;
    overflow: hidden;
    overflow: scroll;
    background-color: var(--backroud2);
    color: var(--name-color);
    font-weight: bold;
    padding: 20px 6px 6px 10px;
    position: fixed;
}

main .left::-webkit-scrollbar{
    width: 7px;
}

main .left::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: var(--backroud2);
}

main .left:hover::-webkit-scrollbar-thumb{
    background-color: var(--icon-not-use);
}

main .left .l-menu{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

main .left .l-menu:hover{
    background-color: var(--hover-color);
}

main .left .l-menu img,
main .left .l-menu i,
main .left .l-menu svg
{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: 8px 15px 8px 0;
}

main .left .l-menu svg{
    background-color:var(--backround1);
    color: var(--icon-not-use);
    width: auto;
    height:auto;
    padding: 12px;
}

main .left hr{
    width: 100%;
    height: 1px;
    border: 0;
    background-color: var(--icon-not-use);
    margin: 10px 0;
}

main .left h2{
    font-size: 18px;
    color:var(--icon-not-use);
    margin: 5px 0;
}

main .left .edit{
    color: #4599ff;
    font-size: 15px;
    float: right;
    position: relative;
    bottom: 23px;
    cursor: pointer;
    opacity: 0;
}

main .left:hover .edit{
    opacity: 1;
}

/*-----*/

main .left .shortcuts{
    display: flex;
    align-items: center;
    transition: 0.2s;
}
main .left .shortcuts:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
main .left .shortcuts img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    margin: 8px 15px 8px 0;
}




main .center{
    width: 50%;
    height: auto;
    padding: 20px 20px 0 20px;
    background-color: var(--backroud2);
    margin-left: 25%;
}

main .center::-webkit-scrollbar{
    width: 0;
}

main .center .topbox{
    width: 100%;
    height: 260px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
}

main .center .topbox .mystory{
    width: 135px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    cursor: pointer;
}


main .center .topbox .mystory img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

main .center .topbox .mystory .createstory{
    width: 100%;
    height: 60px;
    background: var(--backround1);
    position: relative;
    bottom: 50px;
    cursor: pointer;
}
main .center .topbox .mystory .createstory div{
    background-color: var(--icon-use);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    bottom: 15px;
    border-radius: 50%;
}
main .center .topbox .mystory .createstory svg{
    color: var(--name-color);
}

main .center .topbox .mystory .createstory .storytag{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    color: var(--name-color);
}



main .center .topbox .storycard{
    width: 135px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    cursor: pointer;
}

main .center .topbox .storycard img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

main .center .topbox .storycard .story_profile{
    position: relative;
    bottom: 200px;
    margin-left: 10px;

}

main .center .topbox .storycard .story_profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #4599ff;
}

main .center .topbox .storycard .story_profile .circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #27cc37;
    border: 2px solid #fff;
    position: relative;
    bottom: 15px;
    left: 25px;
}

main .center .topbox .storycard .story_name{
    position: relative;
    bottom: 90px;
    padding: 0 10px;
}

main .center .topbox .storycard .story_name .name{
    font-weight: bold;
    color: #fff;
    font-size: 14px;
}

main .center .topbox{
    margin-left: 0;
    overflow: hidden;
    overflow-x: scroll;
}

main .center .topbox .mystory{
    width: 110px;
    height: 210px;
    margin: 5px;
}

main .center .topbox .storycard{
    width: 110px;
    height: 210px;
    margin: 5px;
}

.topbox::-webkit-scrollbar{
height: 7px;
}

.topbox::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: var(--backroud2);
}

.topbox::-webkit-scrollbar-thumb{
    background-color: var(--icon-not-use);
}

main .center .post{
    width: 100%;
    height: auto;
    background: var(--backround1);
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
    margin: 10px 0;
}

main .center .post img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

main .center .post .post_top{
    display: flex;
    align-items: center;
}

main .center .post .post_top input{
    width: 90%;
    padding: 10px;
    margin-left: 20px;
    border: 0;
    outline: none;
    background-color: rgb(65, 65, 65);
    border-radius: 30px;
    font-size: 17px;
}


main .center .post .post_top input:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}

main .center .post hr{
    width: 100%;
    height: 1px;
    border: 0;
    margin: 10px 0;
    background-color: var(--icon-not-use);
}


main .center .post .post_bottom{
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px auto;
}

main .center .post .post_bottom .post_icon{
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 5px 40px;
    cursor: pointer;
}
main .center .post .post_bottom .post_icon p{
    color: var(--name-color);
}
main .center .post .post_bottom .post_icon:hover{
    background-color: var(--hover-color);
    border-radius: 8px;
}

main .center .post .post_bottom .post_icon img{
    width: 25px;
    height: 25px;
    margin-right: 8px;
}


main .center .friends_post{
    margin: 10px 0;
    width: 100%;
    height: auto;
    background: var(--backround1);
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
}


main .center .friends_post .friends_post_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

main .center .friends_post .friends_post_top .img_name{
    display: flex;
    align-items: center;
}

main .center .friends_post .friends_post_top .img_name img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 8px;
    cursor: pointer;
}

main .center .friends_post .friends_post_top .img_name .friends_name .friends_name{
    font-weight: bold;
    cursor: pointer;
    color: var(--name-color);
}
main .center .friends_post .friends_post_top .img_name .friends_name .friends_name:hover{
    text-decoration: underline;
}

main .center .friends_post .friends_post_top .img_name .friends_name .time{
    font-size: 14px;
    color: var(--icon-not-use);
    margin: 3px 0;
}

main .center .friends_post .friends_post_top .img_name .friends_name .time i{
    font-size: 10px;
    margin-left: 5px;
    color: var(--icon-not-use);
}

main .center .friends_post .friends_post_top .menu{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: var(--icon-not-use);
}

main .center .friends_post .friends_post_top .menu:hover{
    background: var(--hover-color);
    cursor: pointer;
}

main .center .friends_post .friends_post_top .menu i{
    line-height: 35px;
    margin-left: 9px;
    font-size: 18px;
}


main .center .friends_post img{
    width: 100%;
    height: 450px;
    object-fit: contain;
    object-position: center;
    border-radius: 5px;
}


main .center .friends_post .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

main .center .friends_post .info .emoji_img{
    display: flex;
}

main .center .friends_post .info .emoji_img img{
    width: 20px;
    height: 20px;
}

main .center .friends_post .info .emoji_img p{
    margin-left: 10px;
    font-size: 16px;
    color: var(--icon-not-use);
}

main .center .friends_post .info .comment{
    display: flex;
    align-items: center;
}


main .center .friends_post .info .comment p{
    padding: 0 12px;
    font-size: 15px;
    color: var(--icon-not-use);
}

main .center .friends_post hr{
    width: 100%;
    height: 1px;
    background-color: var(--icon-not-use);
    border: 0;
    margin: 10px 0;
}
.comment_search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .center .friends_post .like{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .center .friends_post .like .like_icon{
    display: flex;
    align-items: center;
}

main .center .friends_post .like .like_icon i{
    font-size: 20px;
    margin-right: 8px;
    color: var(--icon-not-use);
}

main .center .friends_post .like .like_icon i.activi,
main .center .friends_post .like .like_icon p.activi{
    color: #2374e1;
}

main .center .friends_post .like .like_icon p{
    color: var(--icon-not-use);
}


main .center .friends_post .comment_warpper{
    display: flex;
    align-items: center;
}


main .center .friends_post .comment_warpper img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 15px
}


main .center .friends_post .comment_warpper .circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #27cc37;
    border: 2px solid #fff;
    position: relative;
    top:15px;
    right: 25px;
}


main .center .friends_post .comment_warpper .comment_search{
    width: 95%;
    padding: 5px 15px;
    background-color: rgb(65, 65, 65);
    border-radius: 30px;
}

main .center .friends_post .comment_warpper .comment_search input{
    width: 85%;
    height: 30px;
    background: none;
    border: none;
    outline: none;
}

main .center .friends_post .comment_warpper .comment_search i{
    padding: 0 5px;
    color: var(--icon-not-use);
}



/*RIGHT side*/
main .right{
    width: 25%;
    height: 92vh;
    overflow: hidden;
    overflow-y: scroll;
    background: var(--backroud2);
    padding: 20px 10px 5px 6px;
    position: fixed;
    right: 0;
}


main .right::-webkit-scrollbar{
    width: 7px;
}

main .right::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: var(--backroud2);
}

main .right:hover::-webkit-scrollbar-thumb{
    background-color: var(--icon-not-use);
}

main .right .first_wrapper .page{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .right .first_wrapper .page h2{
    font-size: 18px;
    color: var(--icon-not-use);
    margin: 5px 0;
}

main .right .first_wrapper .page .menu{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: var(--name-color);
}

main .right .first_wrapper .page .menu:hover{
    background-color: var(--hover-color);
    color: var(--name-color);
    cursor: pointer;
}

main .right .first_wrapper .page .menu i{
    line-height: 35px;
    margin-left: 10px;
    font-size: 18px;
    color: var(--icon-not-use);
}

main .right .first_wrapper .page_img{
    display: flex;
    align-items: center;
}
main .right .first_wrapper .page_img p,
main .right .first_wrapper .page_icon p{
    color: var(--name-color);
}

main .right .first_wrapper .page_img img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: 8px 15px 8px 0;
    cursor: pointer;
}

main .right .first_wrapper .page_icon{
    display: flex;
    align-items: center;
}

main .right .first_wrapper .page_icon i{
    color: var(--icon-not-use);
    font-size: 20px;
    margin: 8px 15px 8px 0;
}

main .right hr{
    width: 100%;
    height: 1px;
    border: 0;
    background-color: var(--icon-not-use);
    margin: 10px auto;
}


main .right .second_warpper h2{
    font-size: 17px;
    color: var(--icon-not-use);
    margin: 5px 0;
}


main .right .second_warpper .img_and_tag{
    display: flex;
    align-items: center;
}

main .right .second_warpper .img_and_tag .img{
    margin: 8px 15px 8px 0;
}

main .right .second_warpper .img_and_tag p{
    color: var(--name-color);
    line-height: 22px;
}

main .right .second_warpper .img_and_tag p span{
    font-weight: bold;
}

main .right .third_warpper .contact_tag{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .right .third_warpper .contact_tag h2{
    font-size: 17px;
    color: var(--icon-not-use);
    margin: 5px 0;
}

main .right .third_warpper .contact_tag .contact_icon i{
    margin: 0 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 35px;
    padding-left: 10px;
    color: var(--icon-not-use);
}

main .right .third_warpper .contact_tag .contact_icon i:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}

main .right .third_warpper .contact{
    display: flex;
    align-items: center;
}

main .right .third_warpper .contact img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: 8px 15px 8px 0;
    border: 3px solid #45abff;
    cursor: pointer;
}

main .right .third_warpper .contact p{
    color: var(--name-color);
    font-weight: bold;
}

.none,
.postmob{
    display: none;
}

#none{
    display: none;
}




@media screen and (max-width: 765px) {
    main .left,
    main .right,
    .logo #img,
    nav .logo div p,
    .account,
    .post{
        display: none;
    }

    .none{
        display:block;
    }

    #none{
        display: block;
    }

    nav{
        flex-direction: column;
    }
     
    main{
        margin-top: 100px;
    }

    main .center{
        width: 100%;
        margin-left: 0;
        padding: 0;
    }

    .logo{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 5px;
    }

    .logo b{
        color: var(--name-color);
        font-size: 22px;
        cursor: pointer;
    }

    .logo div{
        display: flex;
        align-items: center;
    }

    .logo div .baricon{
    margin-left: 5px;
    border: none;
    font-size: 10px;
    border-radius: 40px;
    padding: 8px;
    width: 40px;
    height: 40px;
    background-color: #3a3b3c;
    }

    .logo div .baricon:hover{
        background-color: var(--hover-color);
        cursor: pointer;
    }

    .logo div .baricon i{
        color: var(--icon-not-use);
        font-size: 18px;
        margin: 5px 0 0 3px;
    }

    .logo div img{
        margin-left: 3px;
    }
    .menu{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        align-content: center;
    }

    .menu .x1lliihq{    
        margin: 13px 20px;
        color: var(--icon-not-use);
        width: 20px;
        height: 20px;
    }
    .menu #ic-use{
        border-bottom: none;
    }

    .postmob{
        background-color: var(--backround1);
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
        margin: 5px auto;
        padding: 10px 0;
    }
    .postmob .profile{
        width: 45px;
    }
    .postmob .profile img{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }

    .postmob .status input{
        width: 100%;
        padding: 10px;
        border: 0;
        outline: none;
        background-color: rgb(65, 65, 65);
        border-radius: 30px;
        font-size: 15px;
    }

    .postphoto i{
        color: var(--icon-not-use);
        font-size: 30px;
        margin-left: 2px;
    }
    .postphoto p{
        color:var(--name-color);
        font-size: 15px;
    }

    main .center .topbox{
        margin-left: 0;
        overflow: hidden;
        overflow-x: scroll;
    }

    main .center .topbox .mystory{
        width: 110px;
        height: 210px;
        margin: 5px;
    }

    main .center .topbox .storycard{
        width: 110px;
        height: 210px;
        margin: 5px;
    }


    main .center .topbox .storycard .story_profile{
        position: relative;
        bottom: 210px;
        margin-left: 8px;
    }
}